@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?a38bek');
  src:  url('fonts/icomoon.eot?a38bek#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?a38bek') format('truetype'),
    url('fonts/icomoon.woff?a38bek') format('woff'),
    url('fonts/icomoon.svg?a38bek#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-barbecue:before {
  content: "\e90d";
}
.icon-cook:before {
  content: "\e90d";
}
.icon-eat:before {
  content: "\e90d";
}
.icon-toast:before {
  content: "\e90d";
}
.icon-grill:before {
  content: "\e90d";
}
.icon-burn:before {
  content: "\e90d";
}
.icon-phone:before {
  content: "\e900";
}
.icon-883803:before {
  content: "\e901";
}
.icon-2005779:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-mail:before {
  content: "\e906";
}
.icon-map-pin:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-sauce:before {
  content: "\e909";
}
.icon-whatsapp:before {
  content: "\e90a";
}
.icon-youtube:before {
  content: "\e90b";
}
